<app-return-arrow></app-return-arrow>
<div class="flex items-center justify-center h-96">
  <form class="px-8 pt-3 pb-10 mb-4 w-96" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        E-mail -_-
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline {{ resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched ? 'border-red-500' : '' }}"
        id="email" type="email" formControlName="email" placeholder="PlsGiveTheRightEmail@gmail.com">
      <div class="text-red-500 text-xs italic"
        *ngIf="resetPasswordForm.get('email')?.errors && resetPasswordForm.get('email')?.touched">
        <div *ngIf="resetPasswordForm.get('email')?.errors?.['required']">
          Email is required.
        </div>
        <div *ngIf="resetPasswordForm.get('email')?.errors?.['email']">
          Please enter a valid email address.
        </div>
      </div>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit" routerLink="forgot-password">
      <app-spinner *ngIf="this.loading"></app-spinner>
      <span *ngIf="!this.loading">Send email</span>
    </button>
    <app-success-alert *ngIf="success"></app-success-alert>
    <app-error-alert [code]="this.code" [message]="this.message" *ngIf="this.message"></app-error-alert>
  </form>
</div>