<div class="flex items-center justify-center h-96">
  <form class="px-8 pt-3 pb-10 mb-4 w-96">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        New password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline {{ changePasswordGroup.get('email')?.errors && changePasswordGroup.get('email')?.touched ? 'border-red-500' : '' }}"
        id="password" type="password" formControlName="email" placeholder="Provide a new password" />
      <div class="text-red-500 text-xs italic"
        *ngIf="changePasswordGroup.get('password')?.errors && changePasswordGroup.get('password')?.touched">
        <div *ngIf="changePasswordGroup.get('password')?.errors?.['required']">
          Password is required.
        </div>
      </div>
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Repeat your password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline {{ changePasswordGroup.get('r_password')?.errors && changePasswordGroup.get('r_password')?.touched ? 'border-red-500' : '' }}"
        id="r_password" type="password" placeholder="Make sure the passwords match" required
        formControlName="r_password">
      <div class="text-red-500 text-xs italic"
        *ngIf="changePasswordGroup.get('r_password')?.errors && changePasswordGroup.get('r_password')?.touched">
        <div *ngIf="changePasswordGroup.get('r_password')?.errors?.['required']">
          Password is required.
        </div>
      </div>
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit" routerLink="forgot-password">
      Update password
    </button>
  </form>
</div>